{% extends 'base.html.twig' %}

{% block title %} Apptuteur - Login {% endblock %}
{% block body %}

{# {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %} #}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4">Se connecter</h3>

                    <form method="post">
                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email :</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="exemple@mail.com" required>
                        </div>

                        <!-- Mot de passe -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe :</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe" required>
                        </div>

                        <!-- Bouton -->
                        <button type="submit" class="btn btn-primary w-100">
                            Se connecter
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
